{% extends "account/base.html" %}

{% block body %}

<div class="text-center bg-light my-4"><a href="{% url 'profile' %}"><h3>Return to Profile</h3> </a></div>


{% if messages %}
    {% for fm in messages %}
    <p>{{fm.label_tag}} {{fm}} {{fm.errors|striptags}}</p> 
     {% endfor %}
    
    
    {% endif %}


<div class="text-center" >
	
 <form action="" method="POST" >
        {% csrf_token %}
<!--         <input type="text" placeholder="name" name = "name">
 -->        <input type="number" class="form-control m-4 text-center d-inline " style="width: 50%" placeholder="Amount" name = "value">
        <input type="submit" class="btn btn-outline-success" value="Request2Withdraw">


    </form>
</div>
{% endblock %}