{% extends "account/base.html" %}

{% block body %}

<div class="text-center bg-light my-4"><a href="{% url 'profile' %}"><h3>Return to Profile</h3> </a></div>


{% if messages %}
    {% for fm in messages %}
    <p>{{fm.label_tag}} {{fm}} {{fm.errors|striptags}}</p> 
     {% endfor %}
    
    
    {% endif %}


<div class="text-center" >

<!-- <div class="text-center bg-light my-4"><a href="{% url 'profile' %}"><h3>Return to Profile</h3> </a></div> -->


    <!-- <div class="row " style="margin-left: 0%; margin-right: 0%;"> -->

        {% if trans_list %}

        <div class="mw-50 my-4" style="background-color: #eee; height: fit-content;">
            <h4 class="text-center alert alert-info my-4">YOUR TRANSACTIONS</h4>
            <!-- <div class="w-auto "> -->
                <div class="container w-auto table-responsive table-sm">
                    <table class="table table-sm table-striped mw-50">
                        <thead class="bg-info">
                            <tr>
                                <th scope="col">SR. NUMBER</th>
                                <th scope="col">AMOUNT</th>
                                <th scope="col">TYPE</th>
                                <th scope="col">DATE AND TIME</th>
                                <!-- <th scope="col">WINNING PRICE </th> -->

                            </tr>
                        </thead>

                        <tbody class="bg-light">
                    {% for trans in trans_list %}

                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td><b>{{trans.0}}</b></td>
                                <td><b> {{trans.1}}<b></td>
                                <td><b>{{trans.2}}<b></td>
                                <td><b>{{trans.3}}<b></td>
                            </tr>
				 {% endfor %}

                        </tbody>
                    </table>
                </div>

               
        </div>

        {% endif %}

	</div>

<!-- </div> -->



{% endblock %}