{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}Intra500{% endblock %}</title>

    {% block extra_head %}
    {% endblock %}



    <link href="{% static 'enroll/necessary/bs.css' %}" rel="stylesheet">
    <script src="{% static 'enroll/necessary/jquery.js' %}"></script>
    <script src="{% static 'enroll/necessary/popper.js' %}"></script>
    <script src="{% static 'enroll/necessary/bootstrap.js' %}"></script>
    
    <style>
        body {
            background: -webkit-linear-gradient(left, #0353bb, #6ccaf0);
        }

        .emp-profile {
            padding: 3%;
            margin-top: 4%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
            max-width: 70%;
        }
    </style>




  </head>
  <body>
        <div class="container emp-profile mw-75 text-center">
    {% block body %}

<div>
      {% if messages %}

            <div class="alert alert-danger " style="max-width: 100%;">

                {% for fm in messages %}
                <p>{{fm.label_tag}} {{fm}} {{fm.errors|striptags}}</p>
                {% endfor %}
            </div>
            {% endif %}
    </div>


        {% endblock %} 


        {% block content %}
         {% endblock %} 

         {% block extra_body %}
          {% endblock %}
</div>

  </body>
</html>
