{% extends "account/base.html" %}


       {% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">INTRA 500</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
  
    </ul>
    <div class="navbar-text" style="float: right;">

{% if user.is_authenticated %}
Welcome {{user}}
{% else %}

Not a Member Yet? Register Now   <a href="{% url 'account_signup' %}" class="btn btn-outline-success"> sign-up</a>

{% endif %}

 </div>
  </div>
</nav>




<h1></h1>
{% load i18n %}

{% if messages %}
{% for fm in messages %}
<p>{{fm.label_tag}} {{fm}} {{fm.errors|striptags}}</p> 
 {% endfor %}
{% endif %}

{% if user.is_authenticated %}


<div class="text-center bg-light my-4" style="cursor: default;"><a href="{% url 'profile' %}"><h3>Return to Profile</h3> </a></div>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}

  <button type="submit">{% trans 'Log Out' %}</button>
</form>

 -->{% else %}
<p><a href="{% url 'account_signup' %}" class="btn btn-info">sign-up</a></p><br>
<h3>or</h3>
<p><a href="{% url 'account_login' %}" class="btn btn-success">LOGIN</a></p><br>
{% endif %}





       {% endblock %}
