{% extends "account/base.html" %}

{% load i18n %}




       {% block body %}
<div class="container"> 

<p>you cannot change your phone number once added so double check it</p>
<p>payment will be done using this mobile number</p>
<p>+91 is added automatically dont add it</p>


</div>

 {% if messages %}

    <div class="alert alert-success " style="max-width: 100%;">

        {% for fm in messages %}
        <p>{{fm.label_tag}} {{fm}} {{fm.errors|striptags}}</p>
        {% endfor %}
    </div>
    {% endif %}

<h1>EDIT YOUR PORTFOLIO</h1>



       {% endblock %}
